* {
    color: #1a192a;
}

body {
    font-family: sans-serif;
    margin: 2.5%;
    background-color: #dfe5ef;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
}

.pokemonData {
    border: 2px;
    border-style: solid;
    border-color: #5d6784;
    background-color: #b0b5d1;
    padding: 5px;
    margin-bottom: 2.5%;
    width: auto;
}

.learnMethods {
    padding-left: 5%;
    padding-right: 1%;
    display: inline-block; 
    vertical-align: top;
}

.versionName {
    font-style: italic;
}

