<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head> 
        <title>Moveset Searcher</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1>Moveset Searcher</h1>
            <p>How to use: select up to four moves. Click 'submit' to see which Pokémon
                can learn all your chosen moves.</p>
            <p>The tool will show which versions of the game these moves can be learned in.</p>
            <p>Note that sometimes Pokémon can only learn all the moves in certain versions of the games.</p>
            <p>Results that say "Level 0" indicate the move is learned when it evolves.</p>
        </header>
        <section>
            <form action="#" th:action="@{/}" th:object="${movesInput}" method="post">
                <table>
                    <tr>
                        <td>
                            <select th:field="*{move1}">
                                <option default value=""></option>
                                <option th:replace="fragments :: moveSelectDropDown"/>
                            </select>
                        </td>
                        <td th:if="${#fields.hasErrors('move1')}" th:errors="*{move1}">Move 1 Error</td>
                    </tr>
                    <tr>
                        <td>
                            <select th:field="*{move2}">
                                <option default value=""></option>
                                <option th:replace="fragments :: moveSelectDropDown"/>
                            </select>
                        </td>
                        <td th:if="${#fields.hasErrors('move2')}" th:errors="*{move2}">Move 2 Error</td>
                    </tr>
                    <tr>
                        <td>
                            <select th:field="*{move3}">
                                <option default value=""></option>
                                <option th:replace="fragments :: moveSelectDropDown"/>
                            </select>
                        </td>
                        <td th:if="${#fields.hasErrors('move3')}" th:errors="*{move3}">Move 3 Error</td>
                    </tr>
                    <tr>
                        <td>
                            <select th:field="*{move4}">
                                <option default value=""></option>
                                <option th:replace="fragments :: moveSelectDropDown"/>
                            </select>
                        </td>
                        <td th:if="${#fields.hasErrors('move4')}" th:errors="*{move4}">Move 4 Error</td>
                    </tr>
                </table>
                <p>
                    <input type="submit" value="Submit" /> 
                    <input type="reset" value="Reset" />
                </p>
                <a href="https://github.com/iamtom/pokemon-move-finder">GitHub</a>
            </form>
        </section>
    </body>
</html>