<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Pokémon Move Finder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <h1>Pokémon Move Finder</h1>
    <p>How to use: select up to four moves. Click 'submit' to see which Pokémon
        can learn all of the chosen moves</p>
        
    <form action="#" th:action="@{/movefinder}" th:object="${movesInput}" method="post">
        <table>
            <tr>
                <td>
                    <select th:field="*{move1}">
                        <option default value=""></option>
                        <option th:each="dropDownItem : ${moveSelectList}"
                                th:value="${dropDownItem.basicText}"
                                th:text="${dropDownItem.displayText}" />
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('move1')}" th:errors="*{move1}">Move 1 Error</td>
            </tr>
            <tr>
                <td>
                    <select th:field="*{move2}">
                        <option default value=""></option>
                        <option th:each="dropDownItem : ${moveSelectList}"
                                th:value="${dropDownItem.basicText}"
                                th:text="${dropDownItem.displayText}" />
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('move2')}" th:errors="*{move2}">Move 2 Error</td>
            </tr>
            <tr>
                <td>
                    <select th:field="*{move3}">
                        <option default value=""></option>
                        <option th:each="dropDownItem : ${moveSelectList}"
                                th:value="${dropDownItem.basicText}"
                                th:text="${dropDownItem.displayText}" />
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('move3')}" th:errors="*{move3}">Move 3 Error</td>
            </tr>
            <tr>
                <td>
                    <select th:field="*{move4}">
                        <option default value=""></option>
                        <option th:each="dropDownItem : ${moveSelectList}"
                                th:value="${dropDownItem.basicText}"
                                th:text="${dropDownItem.displayText}" />
                    </select>
                </td>
                <td th:if="${#fields.hasErrors('move4')}" th:errors="*{move4}">Move 4 Error</td>
            </tr>
        </table>
        <p>
            <input type="submit" value="Submit" /> 
            <input type="reset" value="Reset" />
        </p>
        <a href="https://github.com/iamtom/pokemon-move-finder">GitHub</a>
    </form>
        
</body>
</html>